# IDE files
.classpath
.project
.settings
.idea
CMakeLists.txt.user*

# Temporary files
*.pyc
*.swp

# Build output
bin/
build/
target/
pkg/
packaging/src/
_site/
underbudget-*.pkg.tar.xz
doc/html/
tags
venv/
__pycache__/

# Personal files
data/template.xml
build.properties
