# Eclipse project files
.classpath
.project
.settings

# Temporary files
*.swp

# Build output
bin/
build/
target/
pkg/
_site/
underbudget-*.pkg.tar.xz
doc/html/
tags

# Personal files
data/template.xml
build.properties
