[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=UnderBudget
Comment=Advanced personal budget analysis
Icon=underbudget
TryExec=underbudget
Exec=underbudget %F
Terminal=false
Categories=Office;
