<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset='utf-8'>
		<meta name="viewport" content="width=device-width" />

		<title>vimofthevine | UnderBudget</title>

		<link rel="stylesheet" href="http://vimofthevine.com/assets/css/reset.css" type="text/css" />
		<link rel="stylesheet" href="http://vimofthevine.com/assets/css/style.css" type="text/css" />
		<link rel="stylesheet" href="http://vimofthevine.com/assets/css/narrow.css" type="text/css" media="screen and (min-width:641px) and (max-width:800px)" />
		<link rel="stylesheet" href="http://vimofthevine.com/assets/css/mobile.css" type="text/css" media="screen and (max-width:640px)" />

		<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body>
		<a href="https://github.com/vimofthevine/UnderBudget"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a>

		<div id="wrapper">

			<header>
				<hgroup>
					<h1>UnderBudget</h1>
					<h2>Advanced budget analysis application</h2>
				</hgroup>

				<img id="logo" src="http://vimofthevine.com/assets/img/underbudget.png" alt="" />
			</header>

			<nav>
				<ul>
					<li><a href="index.html">Home</a></li>
					<li><a href="manual/introduction.html">User Manual</a></li>
					<li><a href="index.html">Download</a></li>
					<li><a href="index.html">Forums</a></li>
				</ul>
			</nav>

<!--
    <div class="download">
      <a href="https://github.com/vimofthevine/UnderBudget/zipball/master">
        <img border="0" width="90" src="https://github.com/images/modules/download/zip.png"></a>
      <a href="https://github.com/vimofthevine/UnderBudget/tarball/master">
        <img border="0" width="90" src="https://github.com/images/modules/download/tar.png"></a>
    </div>
-->

			<section class="leaderboard">
				<script type="text/javascript"><!--
					google_ad_client = "ca-pub-7186650959248368";
					/* vimofthevine */
					google_ad_slot = "7041465182";
					google_ad_width = 728;
					google_ad_height = 90;
					//-->
				</script>
				<script type="text/javascript"
					src="http://pagead2.googlesyndication.com/pagead/show_ads.j">
				</script>
			</section>

			<section id="content">

			{{ content }}

			</section> <!-- id="content" -->

			<footer>
				<p id="copyright">
					&copy; 2012 Kyle Treubig
				</p>
			</footer>

		</div> <!-- id="wrapper" -->

	<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
	try {
	var pageTracker = _gat._getTracker("UA-12190395-2");
	pageTracker._trackPageview();
	} catch(err) {}</script>

	</body>
</html>

